html, body{
  background-color: rgb(255, 255, 255);
  margin: 0;
}

header{
  background-color: blueviolet;
  text-align: center;
  height: 80px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

main{
  flex: 1;
  padding: 10px;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: auto;
  align-items: center;
}

main input{
  height: 100%;
  width: 100%;
  margin: 2px;
}

footer ul{
  background-color: blueviolet;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  padding: 40px;
  border: 0;
  border-radius: 20px;
  margin: 10px 10px;
}

li a{
  background-color: rgb(177, 113, 236);
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0,3s ease-in;
}

li a:hover{
  background-color: rgb(153, 62, 238);
}

.grid-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
