html, body{
  background-color: rgb(255, 255, 255);
  margin: 0;
}

header{
  background-color: blueviolet;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 80px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

main{
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding-bottom: 100px;
  padding-top: 90px;
}

main textarea{
  margin: 1px;
  min-height: 200px;
  resize: none;
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer ul{
  background-color: blueviolet;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  padding: 30px;
  border: 0;
  border-radius: 20px;
  margin: 10px 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

li a{
  background-color: rgb(177, 113, 236);
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0,3s ease-in;
}

li a:hover{
  background-color: rgb(153, 62, 238);
}

.grid-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

footer div{
  background-color: rgb(255, 255, 255);
  height: 90px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
}
